* {
  box-sizing: border-box;
}
body,html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  font-family: Helvetica;
}
.inputarea {
  display: block;
  border: 2px solid dodgerblue;
  box-shadow: 0 0 0 0 dodgerblue;
  transition:box-shadow 0.3s;
  width:70rem;
  height: 30rem;
  margin: 20px auto;
  padding: 2rem;
  font-size: 1.8rem;
  font-family: Helvetica;
  position: relative;
}
.output {
  background-color: rgb(218, 233, 218);
  border: 2px solid rgb(31, 75, 31);
  border-radius: 8px;
  width:200px;
  height: 50px;
  margin:20px auto;
  padding:15px;
  text-align: center;
}
